.sidebar {
	width:266px;
	height:850px;
	background:#fff;
	float:left;
	border-right:1px solid #ccc;
}
.sidebar embed {
	display:block;
	width:220px;
	height:200px;
	margin:0 auto;
	margin-top:20px;
}
.content {
	width:600px;
	height:850px;
	background:#fff;
	float:right;
}
.content h1 {
	background:url(../images/Message.gif) no-repeat;
	width:119px;
	height:26px;
	font-size:100%;
	text-indent:-9999px;
	margin-top:20px;
	margin-left:20px;
}

.content form{
	padding: 2px 0 2px 0;
}
.text,.email,.txtarea,.sub{
	padding-left: 20px;
	padding-top: 20px;
}
.sub a{
	text-decoration: none;
	color: #333;
}
.content textarea{
	width: 210px;
	height: 100px;
}